* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f0e17;
}

.button {
    background-color: #ff8906;
    width: 90px;
    outline: none;
    color: #fffffe;
    padding: 8px 0;
    border-radius: 8px;
    border: none;
}